{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Casual Memes</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <a href="{% url 'index' %}">
          <img src="{% static 'meme_page/casual_memes_logo.png' %}"/>
      </a>
    </div>
    <div class="col-4 text-end">
    {% if user.is_authenticated %}
      <h4>Hi {{ user.username }}!</h4>
      <div><a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Log Out</a></div>
    {% else %}
      <h4>You are not logged in</h4>
      <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Log In</a>
    {% endif %}
    </div>
  </div>
</div>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>