{% extends "meme_page\base.html" %}
{% block content %}
{% load static %}

<div class="container d-flex justify-content-evenly">
    <div class="flex-column" style="margin: 10px;">
        <h2>Genres</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-column bd-highlight mb-3">
                {%for form_genre in genres%}
                <div>
                    {% if form_genre.name == genre %}
                    <input type="radio" id="{{form_genre.name}}" name="genre_filter" value="{{form_genre.name}}" checked="checked">
                    {%else%}
                    <input type="radio" id="{{form_genre.name}}" name="genre_filter" value="{{form_genre.name}}">
                    {%endif%}
                    <label for="{{form_genre.name}}">{{form_genre.name}}</label>
                </div>
                {%endfor%}
                <div>
                    <input type="radio" id="all" name="genre_filter" value="all">
                    <label for="All">All</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" name="filters_applied">Filter</button>
            </div>
        </form>
    </div>


    <div class="flex-column">
        <div class="all_memes">

        {% for clean_meme in dict_memes %}

            {% if genre in clean_meme.meme_genres%}
            <div class="card">
            {% else %}
            <div class="card" hidden>
            {% endif %}
                <!-- {% if genre in clean_meme.meme_genres %} -->
                <div style="border:1px solid black" id="meme{{clean_meme.meme.pk}}">
                    <br>
                    <div class="card-div d-flex justify-content-around align-items-center">
                        <div class="card-div d-flex justify-content-between align-items-center" >
                            {% if clean_meme.avatar == "static_avatar" %}
                                <img src="{% static 'meme_page\blank-avatar.png' %}" height="50"/>
                            {% else %}
                                <img src="{{ clean_meme.avatar.image.url }}" height="50"/>
                            {% endif %}
                            
                            <h3 style="padding:10px">{{ clean_meme.meme.creator.username }}</h3>
                        </div>
                        
                        <h2 class="text-center">"{{ clean_meme.meme.title }}"</h2>
                    </div>
                    <br>
                    <div class="card-div d-flex justify-content-center w-100 h-100"><img src="{{ clean_meme.meme.image.url }}" class="mw-100 mh=100"/></div>
                    <br>
                    <div class="card-div d-flex justify-content-evenly align-items-center">
                        <form class="card-form" action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="react_meme_id" value="{{ clean_meme.meme.pk }}">
                            <input type="hidden" name="react_meme_page" value="{{ clean_meme.page_number }}">
                            {% for react in clean_meme.clean_reactions %}
                            <button type="submit" name="{{ react.1 }}" class="btn btn-secondary">{{ react.0 }}</button>
                            {% endfor %}
                        </form>
                        <a href="{% url 'create-report' clean_meme.meme.pk %}" class="btn btn-secondary">Report Meme</a>
                    </div>
                    <br>
                </div>
                <!-- {% endif %} -->
            </div>
        {% endfor %}
        {% if dict_memes.has_next %}
        <div class="pagination d-flex justify-content-evenly align-items-center">
            <a class="next-page" href="/memes/{{genre}}?page={{ dict_memes.next_page_number }}"></a>
        </div>
        {% endif %}
        </div>
        <h3 class="text-center">
            Try to add your meme!
        </h3>
    </div>


    <div class="">
        <ul style="list-style-type: none">
            {% if user.is_authenticated %}
            <li style="margin: 10px;"><a href="{% url 'create-meme' %}" class="btn btn-primary btn-sm">Add Your Meme</a></li>
            <li style="margin: 10px;"><a href="{% url 'password_change' %}" class="btn btn-primary btn-sm">Change password</a></li>
            <li style="margin: 10px;"><a href="{% url 'change-avatar' %}" class="btn btn-primary btn-sm">Change avatar</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<!-- jQuery CDN hosted by Google -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jScroll plug-in CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>


<script>
    jQuery(function ($) {
        var $list = $('.all_memes');
        $list.jscroll({
            loadingHtml: '<div class="text-center">Loading...</div>',
            padding: 0,
            pagingSelector: '.pagination',
            nextSelector: 'a.next-page:last',
            contentSelector: '.card,.pagination'
        });
    });
</script>

{% endblock %}