{% extends "meme_page/base.html" %}
{% block content %}
{% load static %}
<div class="d-flex justify-content-evenly">
    <div>Here will be list of categories to choose from</div>



<div class="flex-column">
    {% for clean_meme in memes %}
    <div class="" style="border:1px solid black">
        <br>
        <div class="d-flex justify-content-around align-items-center">
            <div class="d-flex justify-content-between align-items-center" >
                {% if clean_meme.avatar == "static_avatar" %}
                    <img src="{% static 'meme_page/blank-avatar.png' %}" height="50"/>
                {% else %}
                    <img src="{{ clean_meme.avatar.image.url }}" height="50"/>
                {% endif %}
                
                <h3 style="padding:10px">{{ clean_meme.meme.creator.username }}</h3>
            </div>
            
            <h2 class="text-center">"{{ clean_meme.meme.title }}"</h2>
        </div>
        <br>
        <div class="d-flex justify-content-center w-100 h-100"><img src="{{ clean_meme.meme.image.url }}" class="mw-100 mh=100"/></div>
        <br>
        <div class="d-flex justify-content-evenly align-items-center">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="react_meme_id" value="{{ clean_meme.meme.pk }}">
                {% for react in clean_meme.clean_reactions %}
                <button type="submit" name="{{ react.1 }}">{{ react.0 }}</button>
                {% endfor %}
            </form>
            <a href="{% url 'create-report' clean_meme.meme.pk %}">Report Meme</a>
        </div>
        <br>
    </div>
    <br>
    {% endfor %}
</div>





    <div class="">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'create-meme' %}">Add Your Meme</a></li>
            <li><a href="{% url 'password_change' %}">Change password</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}