{% extends "meme_page/base.html" %}
{% block content %}
{% load static %}
<div class="d-flex justify-content-evenly">
    <div class="flex-column">
        <h2>Genres</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="d-flex flex-column bd-highlight mb-3">
                {%for genre in genres%}
                <div>
                    {% if genre.name == genre_filter %}
                    <input type="radio" id="{{genre.name}}" name="genre_filter" value="{{genre.name}}" checked="checked">
                    {%else%}
                    <input type="radio" id="{{genre.name}}" name="genre_filter" value="{{genre.name}}">
                    {%endif%}
                    <label for="{{genre.name}}">{{genre.name}}</label>
                </div>
                {%endfor%}
                <div>
                    <input type="radio" id="all" name="genre_filter" value="all">
                    <label for="all">All</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" name="filters_applied">Filter</button>
            </div>
        </form>
    </div>


<div class="flex-column">
    <div class="infinite-container">
    {% for clean_meme in dict_memes %}
        <div class="" style="border:1px solid black" id="meme{{clean_meme.meme.pk}}">
            <br>
            <div class="d-flex justify-content-around align-items-center">
                <div class="d-flex justify-content-between align-items-center" >
                    {% if clean_meme.avatar == "static_avatar" %}
                        <img src="{% static 'meme_page/blank-avatar.png' %}" height="50"/>
                    {% else %}
                        <img src="{{ clean_meme.avatar.image.url }}" height="50"/>
                    {% endif %}
                    
                    <h3 style="padding:10px">{{ clean_meme.meme.creator.username }}</h3>
                </div>
                
                <h2 class="text-center">"{{ clean_meme.meme.title }}"</h2>
            </div>
            <br>
            <div class="d-flex justify-content-center w-100 h-100"><img src="{{ clean_meme.meme.image.url }}" class="mw-100 mh=100"/></div>
            <br>
            <div class="d-flex justify-content-evenly align-items-center">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="react_meme_id" value="{{ clean_meme.meme.pk }}">
                    {% for react in clean_meme.clean_reactions %}
                    <button type="submit" name="{{ react.1 }}" class="btn btn-secondary">{{ react.0 }}</button>
                    {% endfor %}
                </form>
                <a href="{% url 'create-report' clean_meme.meme.pk %}" class="btn btn-secondary">Report Meme</a>
            </div>
            <br>
        </div>
        <br>
    {% endfor %}
    </div>


    {% if dict_memes.has_next %}
    <div class="d-flex justify-content-evenly align-items-center">
        <a class="infinite-more-link btn btn-primary btn-lg btn-block" href="?page={{ dict_memes.next_page_number }}">More</a>
    </div>
    <br>
    {% endif %}

    <div class="loading" style="display: none;">
    Loading...
    </div>
</div>


    <div class="">
        <ul style="list-style-type: none">
            {% if user.is_authenticated %}
            <li><a href="{% url 'create-meme' %}" class="btn btn-primary btn-sm">Add Your Meme</a></li>
            <li><a href="{% url 'password_change' %}" class="btn btn-primary btn-sm">Change password</a></li>
            <li><a href="{% url 'change-avatar' %}" class="btn btn-primary btn-sm">Change avatar</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}