{% extends 'meme_page/base.html' %}
{% block title %}
<h2>Report Meme</h2>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="d-flex flex-column bd-highlight mb-3">
  <h2 class="p-2 bd-highlight">Report Meme</h2>
    <div class="d-flex flex-column bd-highlight mb-3">
        <form method="POST" enctype="multipart/form-data" class="d-flex flex-column p-2 bd-highlight"
            {% csrf_token %}
            <label for="report_message">Why do you want to report this message?</label>
            <textarea name="report_message" required id="report_message" rows="4" cols="50"></textarea>
            <button type="submit" class="bd-highlight mb-3">Report</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}